body {
  font-family: "Rubik", sans-serif;
  background-color: black;
}
.movie__poster {
  width: 140px;
}
.link {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  color: white;
}
