.detail {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Rubik", sans-serif;
    color: white;
    height: 100vh;
  }
  &__poster {
    width: 60vw;
    padding-bottom: 10px;
    @media all and (min-width: 470px) {
      padding-bottom: 30px;
      width: auto;
      height: 60vh;
    }
  }
  &__text {
    text-align: center;
    width: 60vw;
    @media all and (min-width: 470px) {
      font-size: larger;
    }
  }
  &__quote {
    color: orangered;
    padding-bottom: 10px;
    @media all and (min-width: 470px) {
      padding-bottom: 30px;
    }
  }
}
